:root{
    --backgraund-color: #EEEFF1;
    --main-color: #000;
    --paragraf-color: #727272;
    --color-white: #fff;
    --primary-color: #34547A;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.64;
    background-color: var(--backgraund-color);
}

.menu a{
    color: var(--main-color);
    text-decoration: none;
}

.menu li{
    float: left;
    margin-right: 42px;
    overflow: hidden;
}

.menu{
    display: inline-block;
    list-style-type: none;
    padding-left: 400px;
    margin-top: 80px;
    margin-bottom: 150px;
}
.menu .active{
    color: var(--primary-color);
}

h1{
    font-weight: 500;
    font-size: 48px;
    margin-left: 400px;
    margin-bottom: 60px;
}

.title-paragraf{
    color: var(--paragraf-color);
    margin-left: 400px;
    margin-bottom: 64px;
}

button{
    background-color: var(--primary-color);
    color: var(--color-white);
    margin-left: 400px;
    margin-bottom: 140px;
    width: 225px;
    height: 65px;
    border: none;
}

.about-me{
    background-color: var(--color-white);
    height: 360px;
}

.section-title{
    font-weight: 500;
    font-size: 32px;
    line-height: 1.17;
    text-align: center;
    padding-top: 112px;
    margin-bottom: 50px;
}

.section-paragraf{
    text-align: center;
    color: var(--paragraf-color);
}

.projects{
    background-color: var(--primary-color);
    
}

